<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rori Coleman Composer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include styles.html %}

    <!-- build:js({app,.tmp}) /assets/js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
      <nav>
        <div class="logo">
          <a href="/">
            <h1>Rori Coleman Composer</h1>
          </a>
        </div>
        <ul>
          <li><a {% if page.title == "Projects" %}class="active"{% elsif page.title == "Look" %}class="active"{% elsif page.title == "Single" %}class="active"{% elsif page.title == "Listen" %}class="active"{% endif %} href="/projects/">Projects</a></li>
          <li><a {% if page.title == "About" %}class="active"{% endif %} href="/about/">About</a></li>
          <li><a {% if page.title == "Contact" %}class="active"{% endif %} href="/contact/">Contact</a></li>
          <li><a {% if page.title == "News" %}class="active"{% endif %}href="/news/">News</a></li>
        </ul>
      </nav>
    </header>

    <div id="wrap">
      {{ content }}
    </div>

    {% include scripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
